services:
  - type: web
    name: equipos-webapp
    runtime: node
    rootDir: webapp
    plan: free
    autoDeploy: true
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 18
    healthCheckPath: /health
